Source: bliss
Section: math
Priority: optional
Maintainer: David Bremner <bremner@debian.org>
Build-Depends: debhelper (>= 7.0.50~), libgmp-dev, xsltproc, docbook-xsl, 
	       docbook-xml, doxygen
Standards-Version: 3.9.1
Homepage: http://www.tcs.hut.fi/Software/bliss/index.shtml

Package: bliss
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: libbliss-dev
Description: tool to compute graph automorphisms and labelings
 Bliss is a backtracking algorithm based on individualization and
 refinement for labeling a graph.  Data structures, subroutines, and
 pruning heuristics especially for fast handling of large and sparse
 graphs are provided. This package provides the command line tool 
 bliss; a C++ and C API is also available.

Package: libbliss0d
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: libbliss-dev
Section: libs
Description: library to compute graph automorphisms and labelings
 Bliss is a backtracking algorithm based on individualization and
 refinement for labeling a graph.  Data structures, subroutines, and
 pruning heuristics especially for fast handling of large and sparse
 graphs are provided. This package provides the shared library; a C++
 and C API is also available.
 
Package: libbliss-dev
Architecture: any
Depends: ${misc:Depends}, libbliss0d (=${binary:Version})
Suggests: bliss
Section: libdevel
Description: development files to compute graph automorphisms and labelings
 Bliss is a backtracking algorithm based on individualization and
 refinement for labeling a graph.  Data structures, subroutines, and
 pruning heuristics especially for fast handling of large and sparse
 graphs are provided. This package provides the C++ and C API; a
 command line tool is also available.

