Source: bliss
Section: unknown
Priority: extra
Maintainer: David Bremner <bremner@unb.ca>
Build-Depends: quilt, debhelper (>= 7)
Standards-Version: 3.8.1
Homepage: <insert the upstream URL, if relevant>

Package: bliss
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
