#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

DB2MAN=/usr/share/sgml/docbook/stylesheet/xsl/nwalsh/manpages/docbook.xsl
XP=xsltproc -''-nonet

%: 
	dh $@

override_dh_auto_build:
	$(MAKE) gmp
	$(XP) -o bliss.1 $(DB2MAN) $(CURDIR)/debian/blissman.xml


